body{
    background-color:hsl(30, 54%, 90%);
    margin-top: 175px;
    margin-bottom: 175px;
    line-height: 30px;
    font-family: outfit;
    font-weight: 400;
}
h1{
    font-family: "Young Serif", serif;
 font-weight: 400;
 font-style: normal;
 font-size: 36px;
 color: hsl(24, 5%, 18%);
 padding-top: 20px;
}


h2{
    font-family: "Young Serif";
    font-weight: 400;
    font-style: normal;
color: hsl(14, 45%, 36%);
padding-top: 20px;
}

h5{
    color: hsl(332, 51%, 32%);
    font-family: outfit;
    font-weight: 600;
}

b{
    color: hsl(30, 10%, 34%)
}

p{
    color:hsl(30, 10%, 34%);
}

.container{
    max-width: 650px;
    margin: auto;
    border-radius: 30px;
    background-color: hsl(0, 0%, 100%);
    padding: 40px;
}

.prep-card{
    background-color:hsl(330, 100%, 98%);
    border: none;
    text-align: left;
    padding: 10px;
}

li{
        padding: 5px;
        color:hsl(30, 10%, 34%);
    }

 table{
    border-collapse: collapse;
    width: 100%;
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
}

tr{
    border-bottom: 2px solid hsl(30, 18%, 87%);
}
   
td{
    padding-top: 15px;
    padding-bottom: 10px;
}

.first{
    padding-left: 30px;
 width: 40%;
}

.second{
    color: hsl(14, 45%, 36%);
    padding-left: 55px;
}

.attribution {
        text-align: center;
    }
    
    